#root {
  text-align: center;
  width: 100%;
}
.App
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1.title{
  margin-top: 10%;
  color : black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.siteFooter{
  margin-top: auto
}

section.userContact
{
  margin-right: 6rem;
}
.footer-content__2
{
  list-style-type: none;
  margin-right: 1.5rem;
}
.details{
  margin-left: 14rem;
}